<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Picture from Phone plugin for Windows Live Writer" 
           Language="1033" Version="1.0.0.0" Manufacturer="Tomasz Janczuk" UpgradeCode="e474fe08-3178-4089-81c3-ff808c920a2d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <UIRef Id="WixUI_Minimal" />
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="WINDOWSLIVEFOLDER" Name="Windows Live">
          <Directory Id="WINDOWSLIVEWRITERFOLDER" Name="Writer">
            <Directory Id="WINDOWSLIVEWRITERPLUGINSFOLDER" Name="Plugins">
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="WINDOWSLIVEWRITERPLUGINSFOLDER">
			<Component Id="ProductComponent">
        <File Id="PictureFromPhone.dll" Source="$(var.PictureFromPhone.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>